<h1 mat-dialog-title>Nouvel Outil</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [formControl]="nomOutil"  placeholder="Nom">
    <mat-error *ngIf="nomOutil.hasError('required') ">
      Le champ Nom est <strong>requis</strong>
    </mat-error>
    <mat-error *ngIf="nomOutil.hasError('minlength')">
      Le champ est <strong>trop court</strong>
    </mat-error>
    <mat-error *ngIf="nomOutil.hasError('maxlength')">
        Le champ est <strong>trop long</strong>
  </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onClick()" cdkFocusInitial>Ajouter</button>
</div>
