<!-- HISTORIQUE CUID-->
<div class="container" style="text-align:center;">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header" id="titre">
                  HISTORIQUE CUID
              </div>
              <table datatable [dtTrigger]="dtTrigger" class="table" border="1">
                  <thead>
                      <!-- Declaration table Historique -->
                      <tr id="top">
                          <th>CUID</th>
                          <th>Collaborateur</th>
                          <th>Nom et Prénom</th>
                          <th>Date d'affectation</th>
                          <th>Date de libération</th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let historique of historiques" id="contenuCenter">
                          <th>{{historique.cuid_cuid}}</th>
                          <th>{{historique.collaborateurs_trigrame}}</th>
                          <th>{{historique.nom + ' ' + historique.prenom }}</th>
                          <th>{{historique.dateaffectation | date:'dd-MM-yyyy'}}</th>
                          <th>{{historique.dateliberation | date:'dd-MM-yyyy'}}</th>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>