<!-- Page de recherche de CUID -->
<div class="container" style="text-align:center;">
	<div class="row">
		<div class="col-md-12">
			<div class="card p-2">
				<div class="card-header" id="titre">
					<h3>Gestion
					</h3>
				</div>


							

						<div class="row">
							<div class="col-md-12">

									<h3 class="p-2">Applications
											<button mat-mini-fab color="basic" (click)="openDialogApp()" [hidden] = "disable">
												<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
											</button>
											<button mat-mini-fab color="basic" (click)="openDialogApp()" [hidden] = "disable">
													<mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
												</button>						
										</h3>				
										
				
										<mat-chip-list class="mat-chip-list-stacked" class="offset-1">
												<mat-chip *ngFor="let application of applications"  [color]="primary" selected>
													{{application.nomApplication}}
												</mat-chip>
											</mat-chip-list>
							</div>
						</div>
			
									


						<mat-divider></mat-divider>
							<div class="row">
									<div class="col-md-12">
		
											<h3 class="p-2">Outils
													<button mat-mini-fab color="basic" (click)="openDialogOutil()" [hidden] = "disable">
														<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
													</button>
													<button mat-mini-fab color="basic" (click)="openDialogOutil()" [hidden] = "disable">
															<mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
														</button>						
												</h3>				
						
												<mat-chip-list class="mat-chip-list-stacked" class="offset-1">
														<mat-chip *ngFor="let outil of outils"  [color]="primary" selected>
															{{outil.nomOutil}}
														</mat-chip>
													</mat-chip-list>
									</div>
								</div>
								<mat-divider></mat-divider>

							<div class="row">
									<div class="col-md-12">
		
											<h3 class="p-2">Localisations
													<button mat-mini-fab color="basic" (click)="openDialogLocalisation()" [hidden] = "disable">
														<mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
													</button>
													<button mat-mini-fab color="basic" (click)="openDialogLocalisation()" [hidden] = "disable">
															<mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
														</button>						
												</h3>				
						
												<mat-chip-list class="mat-chip-list-stacked" class="offset-1">
														<mat-chip *ngFor="let localisation of localisations"  [color]="primary" selected>
															{{localisation.pays}}
														</mat-chip>
													</mat-chip-list>
									</div>
								</div>




			</div>
		</div>
	</div>
</div>
