<!-- Page de recherche de CUID -->
<div class="container" style="text-align:center;">
	<div class="row">
		<div class="col-md-12">
			<div class="card p-2">
				<div class="card-header" id="titre">
					<h3>Gestion
					</h3>
				</div>
        <mat-tab-group>
          <mat-tab label="Applications"> Content 1 </mat-tab>
          <mat-tab label="Outils"> Content 2 </mat-tab>
          <mat-tab label="Localisations"> Content 3 </mat-tab>
        </mat-tab-group>
			</div>
		</div>
	</div>
</div>
