<!-- Page de recherche de CUID -->
<div class="container" style="text-align:center;">
	<div class="row">
		<div class="col-md-12">
			<div class="card p-2">
				<div class="card-header" id="titre">
					<h3>CUID
						<a mat-mini-fab color="basic" routerLink="/creationCuid">
							<mat-icon>add</mat-icon>
						</a>
					</h3>

				</div>
				<div class="col-md-3 offset-9">
					<mat-form-field>
						<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
					</mat-form-field>
				</div>
				<div class="mat-elevation-z8 col-md-12">
					<table mat-table [dataSource]="dataSource" matSort>
						<!-- Cuid Column -->
						<ng-container matColumnDef="cuid">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Cuid</th>
							<td mat-cell *matCellDef="let row" class="pr-5"> <a href="#">{{row.cuid}} </a></td>
						</ng-container>
						<!-- Contrat Column -->
						<ng-container matColumnDef="contrat">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Contrat</th>
							<td mat-cell *matCellDef="let row"> {{row.contrat}} </td>
						</ng-container>
						<!-- Nom Prénom Column -->
						<ng-container matColumnDef="nomprenom">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Prénom</th>
							<td mat-cell *matCellDef="let row"> {{row.nomprenom}} </td>
						</ng-container>
						<!-- Manager Column -->
						<ng-container matColumnDef="manager">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Manager</th>
							<td mat-cell *matCellDef="let row"> {{row.manager}} </td>
						</ng-container>
						<!-- Nbr Applis Column -->
						<ng-container matColumnDef="nbapplis">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>App</th>
							<td mat-cell *matCellDef="let row"> {{row.nbapplis}} </td>
						</ng-container>
						<!-- Nbr Collab Column -->
						<ng-container matColumnDef="nbcollab">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Collab</th>
							<td mat-cell *matCellDef="let row"> {{row.nbcollab}} </td>
						</ng-container>
						<!-- Status Column -->
						<ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
							<td mat-cell *matCellDef="let row"> {{row.status}} </td>
						</ng-container> 
						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
					<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
				</div>
			</div>
		</div>
	</div>
</div>