#imagen{
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

h1 {
    font-size: 70px;
    color: orange;
    text-align: center;
    font-style: italic;

}

#top{
    color: darkblue;
    font-size: 13px;
}

#contenu{
    font-size: 12px;
    text-align: center;
    font-style: normal;
}

#titre{
    color:orange;
    text-align: center;
    font-size: 16px;
}
