<!-- Montrer le resultat du recherche-->
<div class="container" style="text-align:center;">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-header" id="titre">
                    INFORMATIONS CUID
                </div>
                
                <table datatable [dtTrigger]="dtTrigger" class="table" border="0">
                    <thead>
                        <!-- Declaration titre de table Cuid et Collaborateurs -->
                        <tr id="top">
                            <th>Contrat</th>
                            <th>CUID</th>
                            <th>Nom Prénom</th>
                            <th>Statut</th>
                            <th>Collaborateur</th>
                            <th>Nb Collab/App</th>
                            <th>Manager Gir</th>
                            <th>Localisation</th>
                            <th>Commentaire</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cuid of cuids | contratsFiltre: contrat" id="contenu">
                            <th>{{cuid.contrat.nom}}</th>
                            <th>{{cuid.cuid}}</th>
                            <th>{{cuid.nom + ' ' + cuid.prenom}}</th>
                            <th>{{cuid.status}}</th>
                            <th *ngIf="cuid.collaborateurs.length == 1">{{cuid.collaborateurs[0].trigrame}}</th>
                            <th *ngIf="cuid.collaborateurs.length != 1">Multiple</th>
                            <th>{{cuid.collaborateurs.length + '-' +cuid.applications.length}}</th>
                            <th>{{cuid.nomgir + ' ' + cuid.prenomgir}} </th>
                            <th *ngIf="cuid.collaborateurs.length == 1">{{cuid.collaborateurs[0].localisation.pays}}</th>
                            <th *ngIf="cuid.collaborateurs.length != 1">Multiple</th>
                            <th>{{cuid.commentaires}}</th>
                            <th>
                                <div class="btn-group" role="group" aria-label="..."></div>
                                <a [routerLink]="['/cuid', cuid.cuid]" type="button" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></a>
                                <button (click)="delete(cuid.cuid)" type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>