h1 {
    color: orange;
    font-style: italic;
}

h5 {
    color: orange;
    font-style: oblique;
}

.demo {
    padding: 50px 0px;
}

th {
    font-size: 13px;
    text-align: center;
    }

#top{
    color: darkblue;
    font-size: 15px;
    padding-left: 1%;
    }

#titre{
    color:orange;
    text-align: center;
    font-size: 16px;

}

#contenu{
    font-size: 14px;
}

#contenuCenter{
    font-size: 14px;
    text-align: center;
}


#button{
    margin-left: auto;
    margin-right: auto;
}

.enter {
    margin: 0 auto;
    display: inline-block;
  }