
<!-- Création du menu principal  -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/accueil">CUID Orange</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/cuid">Créer CUID</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/collaborateur">Créer Collaborateur</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/historique">Historique CUID</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/creationCuid">Création CUID</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/tabCuid">CUID</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/test">TEst</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/tabCollaborateur">Collaborateur</a>
        </li>
      </ul>
  </div>

  <form class="form-inline">
      <select class="form-control mr-2" name="champContrat" [(ngModel)] = "champContrat" >
          <option *ngFor="let contrat of contrats" >{{contrat.nom}}</option>
        </select>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onValider()" routerLink="/collaborateur">Filtrer</button>
    </form>
</nav>
