h1 {
    color: orange;
    font-style: italic;
}

th {
    font-size: 13px;
    text-align: center;
    }

#top{
    color: darkblue;
    font-size: 15px;
    }

#titre{
    color:orange;
    text-align: center;
    font-size: 16px;

}

#contenu{
    font-size: 14px;
}

#contenuCenter{
    font-size: 14px;
    text-align: center;
}

#button{
margin-left: auto;
margin-right: auto;
}

label {
    border  : none;
    padding : 10px;
    margin  : 0;
    width   : 130px;
  }

  input {
    border-radius: 5px;
    background-color: #eee;
    border: 0; 

}