<!-- Page de recherche de CUID -->
<div class="container" style="text-align:center;">
	<div class="row">
    <form [formGroup]="cuidForm" (ngSubmit)="hello()">
      <div class="card p-2">
        <div class="col-md-12 form-group">

          <div class="card-header" id="titre">
            <h3>CUID <strong>{{cuid.cuid}}</strong></h3>
          </div>

          <div class="row">
            <div class="col-md-4 offset-8">
                <h4 class="m-3">Contrat : {{cuid.contrat.nom}}</h4>
            </div>
          </div>

          <mat-form-field class="col-md-5">
            <input matInput placeholder="Nom*" formControlName="nom" [errorStateMatcher]="matcher">
            <button mat-button *ngIf="cuidForm.get('nom').value && !disable" matSuffix mat-icon-button aria-label="Clear" (click)="cuidForm.patchValue({nom: ''})">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="cuidForm.get('nom').hasError('required')">
              Nom is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="cuidForm.get('nom').hasError('minlength')">
              Nom is <strong>too short</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-5 offset-1">
            <input matInput placeholder="Prenom*"formControlName="prenom" [errorStateMatcher]="matcher">
            <button mat-button *ngIf="cuidForm.get('prenom').value && !disable" matSuffix mat-icon-button aria-label="Clear" (click)="cuidForm.patchValue({prenom: ''})">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="cuidForm.get('prenom').hasError('required')">
              Prenom is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="cuidForm.get('prenom').hasError('minlength')">
              Prenom is <strong>too short</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-5">
            <input matInput placeholder="NomGir*"  formControlName="nomGir" [errorStateMatcher]="matcher">
            <button mat-button *ngIf="cuidForm.get('nomGir').value && !disable" matSuffix mat-icon-button aria-label="Clear" (click)="cuidForm.patchValue({nomGir: ''})">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="cuidForm.get('nomGir').hasError('required')">
              NomGir is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="cuidForm.get('nomGir').hasError('minlength')">
              NomGir is <strong>too short</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-5 offset-1" >
            <input matInput placeholder="Prenomgir*"  formControlName="prenomGir" [errorStateMatcher]="matcher">
            <button mat-button *ngIf="cuidForm.get('prenomGir').value && !disable" matSuffix mat-icon-button aria-label="Clear" (click)="cuidForm.patchValue({prenomGir: ''})">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="cuidForm.get('prenomGir').hasError('required')">
              PrenomGir is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="cuidForm.get('prenomGir').hasError('minlength')">
              PrenomGir is <strong>too short</strong>
            </mat-error>
          </mat-form-field>
        
          <mat-form-field class="col-md-10 ">
            <input matInput placeholder="Commentaires" formControlName="commentaires">      
            <button mat-button *ngIf="cuidForm.get('commentaires').value && !disable" matSuffix mat-icon-button aria-label="Clear" (click)="cuidForm.patchValue({commentaires: ''})">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-divider class="mt-2"></mat-divider>

          <div class="row">

            <div class="col-md-6">
              <h3 class="p-2">Outils</h3>
              <mat-chip-list class="mat-chip-list-stacked" class="offset-6">
                <mat-chip *ngFor="let outil of cuid.outil" class="col-md-3 mr-4" [color]="primary" selected
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeChip(chip)">
                  {{outil.nomOutil}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <button mat-mini-fab color="basic" class="m-2" (click)="openDialogApp()" [hidden] = "disable">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
              <button mat-mini-fab color="basic" class="m-2" (click)="openDialogApp()" [hidden] = "disable">
                <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
              </button>
            </div>

            <div class="col-md-6">
              <h3 class="p-2">Applications</h3>
              <mat-chip-list class="mat-chip-list-stacked" class="offset-6">
                <mat-chip *ngFor="let application of cuid.applications" class="col-md-3 mr-4" color="primary" selected
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeChip(chip)">
                  {{application.nomApplication}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <button mat-mini-fab color="basic" class="m-2" (click)="openDialogApp()" [hidden] = "disable">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button>
              <button mat-mini-fab color="basic" class="m-2" (click)="openDialogApp()" [hidden] = "disable">
                <mat-icon aria-label="Example icon-button with a heart icon">create</mat-icon>
              </button>
            </div>
          </div>

          <mat-divider class="mt-2"></mat-divider>

          <h3 class="p-2">Collaborateurs</h3>
          <div class="col-md-12">
            <mat-chip-list class="mat-chip-list-stacked" #chipList>
              <mat-chip color="primary" *ngFor="let chip of chipsCollaborateur" class="col-md-1"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="removeChip(chip)">
                {{chip}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>

          <div class="col-md-3 offset-9">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
            </mat-form-field>
          </div>

          <div class="mat-elevation-z8 col-md-12">
            <table mat-table [dataSource]="dataSource" matSort>
              <!-- Cuid Column -->
              <ng-container matColumnDef="trigrame">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>trigrame</th>
                <td mat-cell *matCellDef="let row" class="pr-5" [ngClass] = "(estDateExpiree(row.dateliberation ) && row.dateliberation != null)?'text-danger':''"> <a href="#">{{row.trigrame}} </a></td>
              </ng-container>
              <!-- Contrat Column -->
              <ng-container matColumnDef="nomprenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
                <td mat-cell *matCellDef="let row" [ngClass] = "(estDateExpiree(row.dateliberation ) && row.dateliberation != null)?'text-danger':''">{{row.nomprenom}}</td>
              </ng-container>
              <!-- Manager Column -->
              <ng-container matColumnDef="pays">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>pays</th>
                <td mat-cell *matCellDef="let row" [ngClass] = "(estDateExpiree(row.dateliberation ) && row.dateliberation != null)?'text-danger':''"> {{row.pays}} </td>
              </ng-container>
              <!-- Nbr Applis Column -->
              <ng-container matColumnDef="dateaffectation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>dateaffectation</th>
                <td mat-cell *matCellDef="let row" [ngClass] = "(estDateExpiree(row.dateliberation ) && row.dateliberation != null)?'text-danger':''"> {{row.dateaffectation | date:'dd-MM-yyyy'}} </td>
              </ng-container>
              <!-- Ajouter Column -->
              <ng-container matColumnDef="dateliberation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>dateliberation</th>
                <td mat-cell *matCellDef="let row" [ngClass] = "(estDateExpiree(row.dateliberation ) && row.dateliberation != null)?'text-danger':''">
                  {{row.dateliberation | date:'dd-MM-yyyy'}}
                  
                </td>
              </ng-container>
              <!-- Nom Prénom Column -->
              <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                  <td mat-cell *matCellDef="let row">
                    <button class="text-danger" mat-stroked-button *ngIf="estDateExpiree(row.dateliberation ) && row.dateliberation != null" type="button" (click)="ajouterCollab(row.trigrame)">Reaffecter</button>
                    <button mat-stroked-button *ngIf="row.dateliberation == null" type="button" (click)="ajouterCollab(row.trigrame)">Libérer</button>
                    <button mat-stroked-button *ngIf="!estDateExpiree(row.dateliberation ) && row.dateliberation != null" type="button" (click)="ajouterCollab(row.trigrame)">Modifier</button>
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        
          <div class="offset-10">
            <div class="row">
                <button mat-raised-button color="accent" class="m-2" (click)="modifierCuid(false)" [hidden] = "disable">Annuler</button>
                <button mat-raised-button color="accent" class="m-2" (click)="hello()" [hidden] = "disable">Valider</button>
            </div>
            <button mat-raised-button color="accent" class="m-2" (click)="modifierCuid(true)" [hidden] = "!disable">Modifier</button>
          </div>
        </div>
      </div>
    </form>
	</div>
</div>
